body{
  background-color: #ffffff;
  margin:0;
  padding: 0;
  min-height: 100vh;
}
.App{
  padding: 0;
  margin: 0;
  min-height:100vh;
  display: flex;
  flex-direction: column;
}
#logo{
  margin: 12px auto auto 24px;
  width: 98px;
  height: 98px;
}
#a{
  height: 96.8vh;
}
h1{
  width: 60%;
  display: block;
  margin: 0 auto;
  background-color: rgb(2, 101, 154);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 3.2em;
  text-align: center;
}
.eSearch{
  padding: 8px;
  margin: 12px auto;
  display: block;
  background-color: #ffffff;
  border: 1.4px solid;
  border-color: black;
  width: 448px;
  height: fit-content;
  border-radius: 16px;
}
.emploBox{
  margin: 24px auto;
  width: 720px;
  max-width: 100%;
  min-height: 400px;
  height: fit-content;
  border-radius: 16px;
  border: 1px solid black;
}
.emploInfo{
  margin: 8px auto;
  display: block;
  background-color: rgb(57, 151, 201);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 1.6em;
  font-family: sans-serif;
  letter-spacing: 1.2px;
}
.emploInfo:first-child{
  border-radius: 16px 16px 0 0 ;
  margin-top: 0;
}
option{
  cursor: pointer;
}

.submitBtn{
  display: block;
  background-color: rgb(2, 101, 154);
  transition: 200ms;
  color: #ffffff;
  font-size: 2em;
  font-family: sans-serif;
  margin: 24px auto;
  cursor: pointer;
  border: none;
  font-size:24px;
  letter-spacing: 2px;
  font-weight: bolder;
  border-radius: 4.4px;
  padding: 12px;
}
.submitBtn:hover{
  background-color: rgba(2, 101, 154, 0.782);
  transition: 200ms;
}
.eSearch>form>input{
  display: block;
  margin: 12px auto 0 auto;
  border: 1px solid black;
  border-radius: 8px;
  width: 64%;
  padding: 0.4em;
}
.eSearch>form>select{
  cursor: pointer;
  display: block;
  margin: 12px auto;
  width: 298px;
  max-width: 100%;
  padding: 0.4em;
  border-radius: 8px;
  border: 1px solid black;
}
.rodape{
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: rgb(2, 101, 154);
  color: #ffffff;
  height: 94px;
  text-align: center;
}