body{
    background-color: rgb(255, 240, 252);
}
h1{
    color: rgb(9, 91, 163);
    text-align: center;
    font-family: sans-serif;
    font-size: 3.6em;
}
.eName{
    text-align: center;
    font-family: sans-serif;
    font-size: 2.8em;
    color: rgb(9, 91, 163);
    margin: 0px;
}
.ePic{
    display: block;
    background-color: rgb(9, 91, 163);
    border-radius: 20%;
    margin: 12px auto;
    width: 200px;
    height: 200px;
}